html{
    background-color: black;
   }

#image{
       text-align: center;
       font-family: "Libre Baskerville",serif;
}

h1{
    color: white;
    text-transform: uppercase;
    font-weight: 1000;
}
p{
    color: white;
    text-transform: capitalize;
    font-size:small;
}
img{
    border: 10px solid white;
    margin-top: 8%;
}

   